# Tutorial (Básico) de Python

Neste tutorial, vamos aprender os conceitos básicos para desenvolvermos nossos primeiros programas em Python! <br/>
Boa parte dos exemplos deste tutorial é inspirado no [curso de Python do Kaggle](https://www.kaggle.com/learn/python).

In [4]:
%%html
<style>
table {float:center}
</style>

## Variáveis

### Tipos
Python tem diferentes tipos de dados, mas no fundo, *tudo é um objeto*. <br/>
Variáveis podem ser definidas em qualquer lugar.

Veja alguns tipos:

| Tipo    | Exemplo           |
|---------|-------------------|
| Integer | 1 10 -4           |
| Float   | 1.0 -0.223 3.1415 |
| String  | "Hello world"     |

## Instanciando variáveis

In [3]:
nome = "Luke Skywalker"
idade = 18
peso = 70.5

In [5]:
nome

'Luke Skywalker'

In [6]:
idade

18

In [7]:
peso

70.5

In [9]:
print(nome)
print(nome, idade, peso)

Luke Skywalker
Luke Skywalker 18 70.5

### Type()
Use a função <code>type()</code> para descobrir o tipo de uma variável.

In [8]:
type(nome)

str

In [9]:
type(idade)

int

In [10]:
type(10)

int

In [11]:
type(peso)

float

In [12]:
type(10.0)

float

### Dir()
Use a função <code>dir()</code> para descobrir **todos os métodos** associados a um objeto:

In [16]:
dir(nome)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Usando métodos
Métodos podem ser acessados usando: <code>objeto.metodo</code>

In [13]:
nome

'Luke Skywalker'

In [14]:
nome.upper()

'LUKE SKYWALKER'

In [19]:
print('Luke' in nome)

True

In [15]:
lista = nome.split(' ')

In [16]:
lista

['Luke', 'Skywalker']

In [17]:
type(lista)

list

In [20]:
nome.rfind('Sky')

5

In [21]:
nome

'Luke Skywalker'

### Atribuição Múltipla

In [27]:
nome, idade, peso = 'Yoda', 1000, 10.5

In [28]:
print(nome, idade, peso)

Yoda 1000 10.5

### Python é uma linguagem *case-sensitive*

In [22]:
a = 10
b = 5
c = a + b
print(c)

15

In [23]:
B = 1
d = a + C
print(d)

NameError: name 'C' is not defined

### Dinamicamente e Fortemente tipada

**Dinamicamente:** o tipo é definido no momento da atribuição  
**Fortemente:** as conversões entre tipos de dados não ocorrem implicitamente, e você deve fazer as conversões explicitamente

In [27]:
x = "10"
y = 5
soma = int(x) + y  # Isso gerará um erro, pois não é permitido somar uma string com um inteiro diretamente

In [28]:
soma

15

In [33]:
'Luke ' + 'Skywalker'

'Luke Skywalker'

### Conversão de Tipos (*Casting*)

In [38]:
x

'10'

In [39]:
y

5

In [40]:
z = int(x) + y  # x é string e uma cópia de seu valor (não a variável propriamente dita) foi convertido para inteiro
print(z)

15

### Operadores Aritméticos

| Operador     | Nome                 | Descrição                                                                            |
|--------------|----------------------|--------------------------------------------------------------------------------------|
| ``a + b``    | Adição               | Soma de ``a`` e ``b``                                                                |
| ``a - b``    | Subtração            | Diferença de ``a`` e ``b``                                                           |
| ``a * b``    | Multiplicação        | Produto de ``a`` e ``b``                                                             |
| ``a / b``    | Divisão 'verdadeira' | Quociente de ``a`` e ``b``                                                           |
| ``a // b``   | Piso da Divisão      | Quociente de ``a`` e ``b``, removendo partes fracionadas (arredondamento para baixo) |
| ``a % b``    | Módulo               | Resto da divisão de a ``a`` por ``b``                                                |
| ``a ** b``   | Exponenciação        | ``a`` elevado a ``b``                                                                |
| ``-a``       | Negação              | Negativo de ``a``                                                                    |

In [29]:
# Divisão 'verdadeira'
print(5 / 2)
print(6 / 2)

2.5
3.0

In [30]:
# Piso da Divisão - ignora os decimais
print(5 // 2)
print(6 // 2)

2
3

In [31]:
# Resto da divisão 
print(5 % 2)
print(6 % 2)

1
0

### A função print()
A função _print()_ imprime uma string na tela/console. <br/>
Uma string pode ser definida com **aspas simples ''** ou **aspas duplas ""**.

Por convenção, a comunidade usa **aspas simples ''**

In [44]:
print('Imprimindo com aspas simples!')
print("Imprimindo com aspas duplas!")

Imprimindo com aspas simples!
Imprimindo com aspas duplas!

<br/>Para imprimir valores de _variáveis_ junto com uma _string/texto_, utilize a letra **_f_** antes das primeiras aspas, e coloque a variável entre **_{}_** (Python 3.6+):

In [32]:
print(f'Meu nome eh {nome}')
print(f'Tenho {idade} anos')
print(f'Tenho {peso} kg\n')

print(f'Meu nome eh {nome}\nTenho {idade} anos e {peso} kg')

Meu nome eh Luke Skywalker
Tenho 18 anos
Tenho 70.5 kg

Meu nome eh Luke Skywalker
Tenho 18 anos e 70.5 kg

In [39]:
print('Meu nome eh', nome)

Meu nome eh Luke Skywalker

<br/>
Alternativa, temos outras formas de impressão vindas de versões mais antigas do Python, porém ainda válidas:

In [46]:
print('Meu nome eh %s' % nome)
print('Tenho %d anos' % idade)
print('Tenho %f kg\n' % peso)

print('Meu nome eh %s\nTenho %d anos e %f kg' % (nome, idade, peso))

Meu nome eh Yoda
Tenho 1000 anos
Tenho 10.500000 kg

Meu nome eh Yoda
Tenho 1000 anos e 10.500000 kg

In [42]:
print('Meu nome eh {0}'.format(nome))
print('Tenho {0} anos'.format(idade))
print('Tenho {0} kg\n'.format(peso))

print('Meu nome eh {0}\nTenho {1} anos e {2} kg'.format(nome, idade, peso))

Meu nome eh Luke Skywalker
Tenho 18 anos
Tenho 70.5 kg

Meu nome eh Luke Skywalker
Tenho 18 anos e 70.5 kg